
.container {
  padding: 12px 16px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgba(179, 179, 179, 0.5);
  .leftColumn {
    margin-right: 12px;
    .profilePhoto {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      overflow: hidden;
    }
  }
  .rightColumn {
    .top {
      margin-bottom: 3px;
      span {
        margin-right: 4px;
        color: #6e767d;
      }
      .name {
        font-weight: 700;
        color: rgba(4, 4, 4, 0.6);
      }
    }
  }
}